doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Yellowstone Sea Hawkers
    link(rel="icon" type="image/png" href="/favicon.png")
    link(rel="stylesheet" href="/css/style.css")
  body
    nav.navbar
      .nav-brand
        a(href="/")
          img.nav-logo(src="/img/logo.png" alt="Yellowstone Sea Hawkers")
      button.nav-toggle(aria-label="Toggle navigation") &#9776;
      ul.nav-menu
        li: a(href="/") Home
        li.dropdown
          a.dropdown-toggle(href="/#about") About YSH
          ul.dropdown-menu
            li: a(href="/bios") Board Member Bios
        li: a(href="/#news") Team News
        li: a(href="/membership") Membership
        li.dropdown
          a.dropdown-toggle(href="/#charitable") Charitable Work
          ul.dropdown-menu
            li: a(href="/charitable/battle-of-the-birds") Battle of the Birds
            li: a(href="/charitable/nonprofits") Annual Non-Profit Support
            li: a(href="/charitable/heartwheels") Heartwheels
            li: a(href="https://forms.office.com/r/0HGbiXg01L" target="_blank") Report Charitable Activity
        li: a(href="/#contact") Contact
        if isAdmin
          li: a(href="/admin/dashboard" style="color: #69be28") Admin

    if flash_success
      .flash.flash-success
        .container= flash_success
    if flash_error
      .flash.flash-error
        .container= flash_error

    block content

    footer#footer
      .footer-content
        .footer-section
          h3 Yellowstone Sea Hawkers
          p Montana's proudest and most dedicated Seahawks fan club. A non-profit supporting the Seattle Seahawks and the NFL.
        .footer-section
          h3 Links
          ul
            li: a(href="https://seahawks.com" target="_blank") Seattle Seahawks
            li: a(href="https://www.seahawkers.org/" target="_blank") Sea Hawkers Booster Club
            li: a(href="/admin/login") Admin
        .footer-section
          h3 Documents
          ul
            li: a(href="/assets/conduct.pdf" target="_blank") Code of Conduct
            li: a(href="/assets/unity.pdf" target="_blank") Code of Unity
            li: a(href="/assets/bylaws.pdf" target="_blank") Chapter Bylaws
        if site && (site.social_facebook_url || site.social_instagram_url)
          .footer-section
            h3 Follow Us
            .social-links
              if site.social_facebook_url
                a.social-link(href=site.social_facebook_url target="_blank" rel="noopener noreferrer" aria-label="Facebook")
                  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true")
                    path(d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878V14.89h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z")
              if site.social_instagram_url
                a.social-link(href=site.social_instagram_url target="_blank" rel="noopener noreferrer" aria-label="Instagram")
                  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true")
                    path(d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zM12 0C8.741 0 8.333.014 7.053.072 2.695.272.273 2.69.073 7.052.014 8.333 0 8.741 0 12c0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98C8.333 23.986 8.741 24 12 24c3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98C15.668.014 15.259 0 12 0zm0 5.838a6.162 6.162 0 100 12.324 6.162 6.162 0 000-12.324zM12 16a4 4 0 110-8 4 4 0 010 8zm6.406-11.845a1.44 1.44 0 100 2.881 1.44 1.44 0 000-2.881z")
      .footer-bottom
        p &copy; 2026 #[a(href="https://jessewheeler.dev" target="_blank") Built with love by a local 12.]

    if gaMeasurementId
      script(async src=`https://www.googletagmanager.com/gtag/js?id=${gaMeasurementId}`)
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '#{gaMeasurementId}');

    if hcaptchaSiteKey
      script(src="https://js.hcaptcha.com/1/api.js" async defer)

    script(src="/js/nav.js")
