extends ../layout

block page_title
  | Email Log

block content
  .admin-toolbar
    a.btn(href="/admin/emails/blast") Compose Blast

  if emails.length
    table.admin-table
      thead
        tr
          th To
          th Subject
          th Type
          th Status
          th Date
      tbody
        each e in emails
          tr
            td= e.to_email
            td= e.subject
            td= e.email_type
            td= e.status
            td= e.created_at

    if totalPages > 1
      .pagination
        if page > 1
          a(href=`/admin/emails?page=${page - 1}`) &laquo; Prev
        span Page #{page} of #{totalPages} (#{total} total)
        if page < totalPages
          a(href=`/admin/emails?page=${page + 1}`) Next &raquo;
  else
    p.text-muted No emails sent yet.
