extends ../layout

block page_title
  | Announcements

block content
  .admin-toolbar
    a.btn(href="/admin/announcements/new") + New Announcement

  if announcements.length
    table.admin-table
      thead
        tr
          th Title
          th Published
          th Order
          th Actions
      tbody
        each ann in announcements
          tr
            td: a(href=`/admin/announcements/${ann.id}`)= ann.title
            td= ann.is_published ? 'Yes' : 'No'
            td= ann.sort_order
            td
              a.btn-sm(href=`/admin/announcements/${ann.id}`) Edit
              form(method="POST" action=`/admin/announcements/${ann.id}/delete` style="display:inline" data-confirm="Delete this announcement?")
                button.btn-sm.btn-danger(type="submit") Delete
  else
    p.text-muted No announcements yet.
